<!doctype html>
<title>Hello from Flask</title>
<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
<div>
  {% if containers[0] %}
  <table class="containers-table">
    <thead>
      <tr>
        <td>HTTPS Link</td>
        <td>HTTP Link</td>
        {% for key in containers[0] %}
        <td class="containers-cell">{{key}}</td>
        {% endfor %}
      </tr>
    </thead>
    {% for container in containers %}
    <tr>
      <td><a href="{{'https://'+cluster_host+':'+container['hostPort']}}">{{'View'}}</a></td>
      <td><a href="{{'http://'+cluster_host+':'+container['hostPort']}}">{{'View'}}</a></td>

      {% for key in container %}
        <td class="containers-cell">{{container[key]}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>


</body>
